body {
    font-size: small;
}

#page-header {
    background-color:darkblue;
    color: white;
}

#page-footer {
    background-color: gray;
}

#working-length {
    color: red;
}

#completed-length {
    color: blue;
}

.working-todo {
}

.completed-todo {
    color: darkgray;
}

.completed-todo label {
    text-decoration: line-through;
}

.completed-todo input[type=checkbox] {
    accent-color: darkgray;
}

.completed-todo button {
    display: none;
}

.tab-btn {
    border-width: 1px;
    border-bottom-style: hidden;
}

#todo-list {
    position: relative;
    height: 200px;
    border: 1px solid black;
}

#working-list {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    border: 1px dotted red;
}

#completed-list {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    border: 1px dotted blue;
}